{% extends "repo/layout.html" %}
{% block content %}      
{% load crispy_forms_tags %}

<h1>{{ current.name }}</h1>

{% if parent %}
    <span>
        <a href="{% url 'view-folder' parent.id %}">&lt;&lt; {{ parent.name }}</a>
    </span>
    <br />
{% endif %}

{% for folder in children %}
    <span>
        <a href="{% url 'view-folder' folder.id %}">{{ folder.name }} &gt;&gt;</a>
        {% if current.is_root %}
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'rename-folder' folder.id %}">Rename</a>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'delete-folder' folder.id %}">Delete</a>
        {% endif %}
    </span>
    <br />
{% endfor %}

{% for file in files %}
    <span>
        <a href="{% url 'view-file' file.id %}" target="_blank">{{ file.name }}</a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ file.file.url }}" download>Save</a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'rename-file' file.id %}">Rename</a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'delete-file' file.id %}">Delete</a>
    </span>
    <br />
{% endfor %}

{% if current %}
<br />
<form method="POST" action="{% url 'create-folder' current.id %}">
    {% csrf_token %}
    <input type="text" placeholder="Folder Name" name="folder-name">
    <input type="submit" value="Create Folder">
</form>

<br />
<form method="POST" enctype=multipart/form-data action="{% url 'upload-file-to-folder' current.id %}">
    {% csrf_token %}
    {{ upload_form|crispy }}
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endif %}

{% endblock %}
