{% extends "repo/layout.html" %}
{% block content %}      
{% load crispy_forms_tags %}
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'repo/style_index.css'%}">

</head>
<body>
<div class="spacer"></div>
<div class="container">
    <div class="banner">
        <h1 class="title">FiRE</h1>
        <div id="text" >
            Storage that is capable of becoming the objective repository
            of vast accumulation of files and data, which it can then
            preserve in time and transmit to following generation.
        </div>
        <a href="#features" class="btn btn-white btn-animate btnsmall" style="left:5%; top:53%;">Our Features &#129146;</a>
        <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_jm6azggy.json" class="main-img" background="transparent" speed="1"  loop autoplay></lottie-player>
    </div>

<div class="movingicons">
    <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_id0xnhpp.json" class="cloud-img" background="transparent" speed="1" loop autoplay></lottie-player>
    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_rtqkz5gs.json" class="folder-img" background="transparent"  speed="1"  loop  autoplay></lottie-player>
    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ezvzqsls.json" class="files-img" background="transparent"  speed="1" loop  autoplay></lottie-player>
</div>
<div class="fcontainer">
    <div class="custom-shape-divider-bottom-1644694962">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
        </svg>
    </div>
    <div class="features" id="features"> 
        <div class="features-1">
            <div>
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_scieofxz.json" class="feature-img-1 reveal" background="transparent" speed="1"  style="width: 160px; margin-bottom: 10px;" loop autoplay></lottie-player>
                <h1 class="titlepic1 reveal">FiRE</h1>
                <p class="view-on-large picdesc1 reveal">FiRE stands for "Fi" which means File and "RE" for  Repository, it is a place where you can upload and save your files and gain access anytime you want.</p>
            </div>
            <div>
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_adngrvag.json" class="feature-img-1 reveal" background="transparent" speed="1"  style="width: 220px; margin-bottom: -30px;" loop autoplay></lottie-player>
                <h1 class="titlepic1 reveal">ORGANIZED REPOSITORY</h1>
                <p class="picdesc1 reveal">You can upload files to any specific or personal folder here at FiRE. Easily organize and navigate your files through different categories adding your convenience.</p>
            </div>
        </div>
        <div class="features-2">
            <div class="retrieval-div">
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_hgsekn4v.json" class="feature-img-2 reveal" background="transparent" speed="1" style="margin-bottom: 0px;" loop autoplay></lottie-player>
                <h1 class="titlepic2 reveal">EASY RETRIEVAL</h1>
                <p class="view-on-large easy-retrieval picdesc2 reveal">You can always download and save your files from your repository without any delay. Get multiple copies and update it anytime you want.</p>
            </div>
            <div>
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_mnsjwnls.json" class="feature-img-2 reveal" background="transparent" speed="1"  loop autoplay></lottie-player>
                <h1 class="titlepic2 reveal">VIEW AND REVIEW</h1>
                <p class="picdesc2 reveal">In a single click, you can view your images and review your documents before retrieving, updating, or deleting.</p>
            </div>
        </div>
    </div>
    <div class="custom-shape-divider-top-1644696347">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
        </svg>
    </div>
</div>

<section class="about">
    <div class="about-container">
        <div class="image reveal">
            <img src="{% static 'repo/images/start.png' %}" alt="">
        </div>
        <div class="content">
            <h3 class="reveal">What is a File Repo?</h3>
            <p class="reveal">A software repository, or “repo” for short, is a storage location for software packages. Often a table of contents is also stored, along with metadata. A software repository is typically managed by source control or repository managers. Package Managers allow for installing and updating the repositories sometimes called “packages” versus having to do this manually.</p><br>
            <p class="reveal">In software development, a repository is a central file storage location. It is used by version control systems to store multiple versions of files. While a repository can be configured on a local machine for a single user, it is often stored on a server, which can be accessed by multiple users.</p>
        </div>
    </div>
</section>

</div>
<div class="custom-shape-divider-bottom-1644861875">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
    </svg>
</div>
</div>

<!--Start of footer-->
<div class="footer">
    <div class="box-container">
        <div class="box">
            <h3>About Us</h3>
            <p style="text-align:justify">FiRE is a project created by fourth year Information Technology students of Bulacan State University in order to fulfill the requirements of Web Development 3.</p>
        </div>
        <div class="box">
            <h3>Quick Links</h3>
            <a href="#">Home</a>
            <a href="#features">Features</a>
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
        <div class="box">
            <h3>Follow Us</h3>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </div>
        <div class="box">
            <h3>Credits</h3>
            <h1 class="credit">&copy; FiRE 2022</h1>
        </div>
    </div>
</div>
<!--End of footer-->
<!-- Optional Javascript -->
<script type="text/javascript">
    window.addEventListener('scroll', reveal);
    function reveal() {
        var reveals = document.querySelectorAll('.reveal');
        for (var i = 0; i < reveals.length; i++) {
            var windowheight = window.innerHeight;
            var revealtop = reveals[i].getBoundingClientRect().top;
            var revealpoint = 150;
            if (revealtop < windowheight - revealpoint) {
                reveals[i].classList.add('active');
            }
            else {
                reveals[i].classList.remove('active');
            }
        }
    }
</script>
</body>
</html>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock %}
